body {
  background: #3d3d3d;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}

.sbui-card{
  background-color: #1E1E1E !important;
}

.sbui-auth-label{
  color: #fff !important;
}

.sbui-formlayout__label{
  color: #fff !important;
}

.sbui-checkbox__label-container__label__span{
  color: #fff !important;
}

.sbui-typography-text{
  color: #fff !important;
  font-size: larger !important;
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
   color: unset;
}
